Source: mibandpreview
Section: unknown
Priority: optional
Maintainer: MelianMiko <melianmiko@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/melianmiko/MiBandPreview4Linux
#Vcs-Browser: https://salsa.debian.org/debian/mibandpreview
#Vcs-Git: https://salsa.debian.org/debian/mibandpreview.git

Package: mibandpreview
Architecture: any
Depends: ${misc:Depends}, python3, python3-pil, python3-watchdog, python3-gi, libgtk-3-0
Description: Mi Band 4/5 watchface preview tool
