[Desktop Entry]
Version=1.1
Type=Application
Name=Mi Band Preview
Comment=Tool to preview Mi Band watchfaces
Icon=/opt/mibandpreview-gtk/res/icon.png
Exec=/opt/mibandpreview-gtk/__init__.py
Path=/opt/mibandpreview-gtk
Actions=
Categories=Graphics;
