[Desktop Entry]
Version=1.1
Type=Application
Name=Mi Band Preview
Comment=Tool to preview Mi Band watchfaces
Icon=/opt/mibandpreview/mibandpreview_qt/res/icon.png
Exec=/opt/mibandpreview/__main__.py
Path=/opt/mibandpreview
Actions=
Categories=Graphics;
