[Desktop Entry]
Version=1.1
Type=Application
Name=Mi Band Preview
Comment=Tool to preview Mi Band watchfaces
Icon=/opt/mibandpreview-qt/res/icon.png
Exec=/opt/mibandpreview-qt/mibandpreview-qt
Path=/opt/mibandpreview-qt
Actions=
Categories=Graphics;
